@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./leaflet.scss";

$panel-color: rgba(255, 255, 255, 0.75);
$margin-buffer: 20px;

$hover-radius: 80px;

body, html, #app, #main-container, #map, #map-container {
	height: 100%;
}

#sidebar {
	position: fixed;
	background-color: $panel-color;
	width: 30%;
	height: 100%;
	right: 0px;
	top: 0px;
	transition: right 0.5s;
}

#sidebar.close-sidebar {
	right: -30%;
}

#searchbar {
	position: absolute;
	top: $margin-buffer;
	left: 60px;
	width: 25%;

	form {
		outline: none;
	}
}

#controls {
	position: absolute;
	bottom: $margin-buffer;
	left: $margin-buffer;
	background-color: $panel-color;
	text-align: justify;
	padding: 1em 0em;

	img {
		margin-left: 3.5em;
		width: 40%;
		display: inline-block;
	}

	h3 {
		display: inline-block;
		margin-left: 2em;
		vertical-align: bottom;
		margin-right: -5em;
		margin-bottom: 1em;
	}
}

#toggle-sidebar {
	position: absolute;
	margin-left: -100px;
	margin-top: $margin-buffer;
}

.div-marker {
	.hoverIcons {
		position: absolute;
		z-index: 999;
		background-color: #FFF;
		display: none;
		transform: translate(-32%, -210%);
		text-align: justify;
		border-radius: 4px;
		color: #333;
		font-weight: bold;
		border: 1px solid #333;

		ul {
			position: relative;
			margin: 0;
			padding: 0;
			width: 80px;
			text-align: center;
		}

		li {
			display: inline-block;
			font-size: 20px;
			img {
				width: 20px;
			}
		}

		li.hover-name {
			font-size: 1em;
		}
	}
	.pin {
		position: relative;
		z-index: 1000;
		width: 30px;
		height: 30px;
		border-radius: 50% 50% 50% 0;
		background: #89849b;
		position: absolute;
		transform: rotate(-45deg);
		left: 50%;
		top: 50%;
		margin: -2px 0 0 -8px;
		border: 1px solid #444;

		&:after {
			content: '';
			width: 14px;
			height: 14px;
			margin: 8px 0 0 8px;
			background: #2F2F2F;
			position: absolute;
			border-radius: 50%;
		}

		&.FAIL {
			background: rgba(221, 15, 15, 0.75);
			&:after {
				background: rgba(221, 15, 15, 1);
			}
		}
		&.PASS {
			background: rgba(45, 176, 62, 0.6);
			&:after {
				background: rgba(45, 176, 62, 1);
			}
		}
	}

	.icon-marker {
		position: relative;
		z-index: 1000;

		&:hover, &.active {
			&.pin {
				width: 40px;
  				height: 40px;
  				margin: -13px 0 0 -12px;

				&:after {
					width: 20px;
 					height: 20px;
				}
				&.FAIL {
					background: rgba(221, 15, 15, 1);
				}
				&.PASS {
					background: rgba(45, 176, 62, 1);
				}
			}
		}
	}

	.icon-marker:hover ~ .hoverIcons, .pin:hover ~ .hoverIcons, .pin.active ~ .hoverIcons {
		display: block;

	}
}



